
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    margin: 0;
    font-size: sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #3e2f5b;
}

*{
    font-family: Verdana, cursive, sans-serif;
    color:#fff ;
}